@model GSTInvoiceData.Models.CustomerOthetDetails

@{
    ViewBag.Title = "_CustomerOtherDetails";
}
<div class="col-lg-12">
    <div class="card card-topline-yellow">
        <div class="card-head">
            <header>Other Details</header>
        </div>
        <div class="card-body" id="bar-parent1">
            @using (Html.BeginForm("CustomerOtherDetails", "", FormMethod.Post, new { id = "form_sample_1", @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Currency
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Currency, new SelectList(new[] { "AUD-Australian Dollar", "CAD-Canadian Dollar", "INR-Indian Ruppe" }), "USD-US DOLLAR", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Currency)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Payment Terms
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.PaymentTerms, new SelectList(new[] { "Net 15", "Net 30", "Net 45", "Net 60", "Due end of the month", "Due end of next month" }), "Due Or Receipt", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PaymentTerms)
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Enable Portal?
                        </label>
                        <div class=" checkbox checkbox-icon-black">
                            @Html.CheckBoxFor(model => model.IsEnablePortal)
                            @Html.Label("Allow portal access for this contact ")
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Portal    Language
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.PortalLanguage, new SelectList(new[] { "" }), "English", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Facebook
                        </label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>

                                </span>
                                @Html.EditorFor(model => model.Facebook, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <span class="help-block"> e.g: http://www.facebook.com </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Tweeter
                        </label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                </span>
                                @Html.EditorFor(model => model.tweeter, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <span class="help-block"> e.g: http://www.Tweeter.com </span>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>