@model GSTInvoiceData.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(model => model.OldPassword)
        @Html.EditorFor(model => model.OldPassword)
        @Html.ValidationMessageFor(model =>model.OldPassword)
    </div>
    <div>
        @Html.LabelFor(model => model.NewPassword)
        @Html.EditorFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>

    <div>
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
}

