@model GSTInvoiceData.Models.UserInfo

@{
    ViewBag.Title = "ChangePassword";
}
<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        @Html.Label("Old Password");
    </div>
    <div>
        @Html.TextBox("OldPassword");
    </div>
    <div>
        @Html.LabelFor(model => model.Password)
    </div>
    <div>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    @*<div>
        @Html.LabelFor(model => model.ConfirmPassword)
    </div>
    <div>
        @Html.EditorFor(model => model.ConfirmPassword)

        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>*@
    <div>
        <p>
            <input type="submit" value="submit" />
        </p>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

