@model GSTInvoiceData.Models.UserInfo

@{
    ViewBag.Title = "ForgetPassword";
}

<h2>ForgetPassword</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(model => model.EmailId)
    </div>
    <div>
        @Html.EditorFor(model => model.EmailId)
        @Html.ValidationMessageFor(model => model.EmailId)
    </div>
    @Html.ActionLink("Reset-Password", "ForgetPassword")
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

