@model GSTInvoiceData.Models.ResetPassword

@{
    ViewBag.Title = "ResetPassword";
    Layout = "";
}


<!DOCTYPE html>
<html>
<!-- Mirrored from radixtouch.in/hospital/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Sep 2017 11:11:08 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Redstar Hospital | Bootstrap Responsive Hospital Admin Template</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />

    <!-- icons -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- bootstrap -->
    <link href="~/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- style -->
    <link rel="stylesheet" href="~/css/login.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" />
</head>
<body>
           <div class="form-title">
            <h1>Reset Password</h1>
    </div>
    <!-- Login Form-->
    <div class="login-form text-center">
        <div>
            
        </div>

        <div class="form formReset">
            <h2>Reset your password?</h2>
            @using (Html.BeginForm("ResetPassword", "User","Forget=21314124", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div>
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "errorMessage" })
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { placeholder = "New Password*" } })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "errorMessage" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password*" } })
                </div>
                    <button type="submit">Reset Password</button>
            }
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/pages.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- end js include path -->
</body>
<!-- Mirrored from radixtouch.in/hospital/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Sep 2017 11:11:08 GMT -->
</html>


@*@using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post))
                {
        @Html.ValidationSummary(true)
        <div>
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "errorMessage" })
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { placeholder = "Email / Mobile No.*" } })
        </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "errorMessage" })
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Email / Mobile No.*" } })
                    </div>
                    <button type="submit">Send Verification Email</button>
    }*@

